<html>
<head>
    <title>Retriever</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js"></script>
    <script src="crypto.js"></script>
</head>
<body class="container">
<noscript>This application requires javascript to run.</noscript>
<div id="app">
    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold text-body-emphasis">Retriever</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Securely request secrets over the internet.</p>

            <div v-if="newSecret">
                <p class="lead mb-4">Share the below url with the person you are requesting a secret from.</p>
                <urlcopy :url="url"/>
            </div>
            <div v-else-if="decryptSecret">
                <p class="lead mb-4">Below is the decrypted secret shared with you.</p>
                <textarea class="form-control" id="dataForDecryption" rows="5"
                          v-model="inputData" disabled v-model="inputData"></textarea>
            </div>
            <div v-else>
                <p class="lead mb-4">Somebody is requesting a secret! Enter the value you wish to share below and hit
                    encrypt.</p>
                <div class="mb-3">
                    <textarea class="form-control" id="dataForEncryption" rows="5"
                              placeholder="Text to encrypt..." v-model="inputData"></textarea>

                    <div class="encrypt-btn-container">
                        <button type="submit" class="btn btn-primary" @click="encrypt">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                            </svg>
                            Encrypt
                        </button>
                    </div>

                    <div v-show="url">
                        <p class="">This url contains your encrypted data, send it back to the requester.</p>
                        <urlcopy :url="url"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-show="errorShow">
        <div class="modal show" tabindex="-1" id="errorModal" style="display: block">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ errorTitle }}</h5>
                    </div>
                    <div class="modal-body">
                        <p>{{ errorMessage }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop fade show"></div>
    </div>
</div>
<script src="app.js"></script>
</body>
</html>
