body {
    min-height: 100vh;
    background-color: #f9f9f9;
}

textarea {
  resize: none;
}

h1 img {
    height: 60px;
    margin-top: -10px;
}

.encrypt-btn-container {
    width: 100%;
    text-align: right;
    padding-top: 8px;
    margin-bottom: 10px;
}

.encrypt-btn-container svg {
    margin-top: -3px;
}

.btn-copy {
    width: 85px;
}

footer {
    background-color: #fff;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.how-it-works {
    font-size: 18px;
    text-align: left;
    line-height: 32px;
}
